/*Orange PRINCIPAL : #e75c21
Orange secondaire : #fcd7ba (PS)
Blanc : #fff
Noir : #333 ou #343434
Gris foncé : #757575
Gris clair : #eaeaea

Bleu pour les liens <a> : #337ab7*/

.fond-blanc{
	background: white;
    border: 1px #e75c21 solid;
	margin: 20px 30px;
}

.fond-blanc p{
	color: #e75c21;
	font-size: 24px;
}

.avote{
	width: 150px;
	margin: 20px auto;
}
button:hover{
	width: 100px;
    margin: 20px;
    background: white;
    color: #e75c21;
    border-top: 1px #e75c21 solid;
    border-left: 1px #e75c21 solid;
    border-bottom: #e75c21 solid;
    border-right: #e75c21 solid;
    border-radius: 20px;
}

button{
	width: 100px;
    margin: 20px;
    background: #e75c21;
    color: white;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-bottom: white solid;
    border-right: white solid;
    border-radius: 20px;
}