/*Orange PRINCIPAL : #e75c21
Orange secondaire : #fcd7ba (PS)
Blanc : #fff
Noir : #333 ou #343434
Gris foncé : #757575
Gris clair : #eaeaea

Bleu pour les liens <a> : #337ab7*/

.fond-gris{
	background: #eaeaea;
	margin: 20px 40px;
	padding: 30px 20px;
}

input{
	width: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
    border: 1px #e75c21 solid;
}

.btn-left{
	width: -webkit-fill-available;
    margin: 20px;
    background: white;
    color: #e75c21;
    border-top: 1px #e75c21 solid;
    border-left: 1px #e75c21 solid;
    border-bottom: #e75c21 solid;
    border-right: #e75c21 solid;
    border-radius: 20px;
}

.btn-left:hover{
	width: -webkit-fill-available;
    margin: 20px;
    background: #e75c21;
    color: white;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-bottom: white solid;
    border-right: white solid;
    border-radius: 20px;
}

.btn-right{
	width: -webkit-fill-available;
    margin: 20px;
    background: #e75c21;
    color: white;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-bottom: white solid;
    border-right: white solid;
    border-radius: 20px;
}

.btn-right:hover{
	width: -webkit-fill-available;
    margin: 20px;
    background: white;
    color: #e75c21;
    border-top: 1px #e75c21 solid;
    border-left: 1px #e75c21 solid;
    border-bottom: #e75c21 solid;
    border-right: #e75c21 solid;
    border-radius: 20px;
}