<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Liste d'articles</h1>
    	<h1><%= votant[0].nom %></h1>
    	<h1><%= vote[0].nom %></h1>

</body>
</html>