/*
Orange PRINCIPAL : #e75c21
Orange secondaire : #fcd7ba (PS)
Blanc : #fff
Noir : #333 ou #343434
Gris foncé : #757575
Gris clair : #eaeaea

Bleu pour les liens <a> : #337ab7

Bleu logo UIR : #026E7A
*/

/*.titre{
	margin: 40px auto;	
}

.fond-blanc{
	background: white;
	margin: 20px 30px;
}

.proposition{
    border: 1px #e75c21 solid;
    width: 300px;
    margin: 0px 3%;
}

.reponse{
    background: #e75c21;
    color: white;
}

input{
	width: -webkit-fill-available;	
	margin-top: 20px;
	margin-bottom: 20px;
    border: 1px #e75c21 solid;
}*/

.btn-left, .btn-right{
    border: 1px white solid;
	width: 30px;
}

.btn-left:hover, .btn-right:hover{
    border: 1px #e75c21 solid;
	background: none;
	width: 30px;
	color: #e75c21;
}

button p{
	margin: 0 0;
}